
@define-color bg0 #fbf1a8;
@define-color bg1 #ebdbb2;
@define-color bg2 #d5c4a1;
@define-color bg3 #bdae86;
@define-color bg4 #a89977;

@define-color fg0  #282828;
@define-color fg1  #3c3836;
@define-color fg2  #504945;
@define-color fg3  #665c54;
@define-color fg4  #7c6f64;

@define-color red    #850d28;
@define-color green  #316650;
@define-color yellow #c5a112;
@define-color blue   #4a4b92;
@define-color purple #a452bf;
@define-color gray   #928374;
@define-color orange #6a3d20;
@define-color brown  #734222;

@define-color red_sec    #ee445b;
@define-color gree_sec  #4ca37d;
@define-color yellow_sec #e4c445;
@define-color blue_sec   #67a0d2;
@define-color purple_sec #b1b1ee;
@define-color gray_sec   #a89984;
@define-color orange_sec #e3a167;
@define-color brown_sec  #b75b24;
